# Virtual environments
venv/
.venv/

# Python
__pycache__/
*.pyc

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store

# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml

# Data
data/raw/*.csv

data/processed/*.csv